<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/story.css">
    <title>Madlibs</title>
</head>
<body>
    <h2>welcome to madlibs, fill out form to view your story</h2>
    <form action="/story">
        <div> place: <input type="text" name="place" placeholder="zoo"> </div>
        <div> noun: <input type="text" name="noun" placeholder="sara"> </div>
        <div> verb: <input type="text" name="verb" placeholder="smacks"> </div>
        <div> adjective: <input type="text" name="adjective" placeholder="furocious"> </div>
        <div> plural-noun: <input type="text" name="plural_noun" placeholder="zebras"> </div>
        <div> <button> submit </button> </div>
    </form>
    
</body>
</html>